.logo-container {
    z-index: 0;
    width: 300px;
    height: 409px;
    opacity:0;
    position: absolute;
    top: 130px;
    right: 63%;
    bottom: 0;
  
    svg {
        width: 100%;
        height: auto;
        bottom: 0;
        transform: rotateZ(0deg) !important;
  
    }
  
    .solid-logo {
        position: absolute;
        top: auto;
        right: auto;
        bottom: auto;
        left: 0;
        margin: auto;
        width: 100%;
        opacity: 0;
        transform: rotateZ(30deg) !important;
        z-index: 1;
  
    }
  }
  
  .svg-container {
    stroke:rgba(230, 226, 216);
    stroke-width: 5px;
  }
  @media screen and (max-width:1200px) {
    .logo-container {
      position: relative;
      width: 200px;
      height: auto;
      top: -350px;
      right: 0px;
      box-sizing: border-box;
      margin: auto;
      left: 50px;
    }
  
    .logo-container svg {
      position: absolute;
      top: auto;
      right: auto;
      bottom: auto;
      left: 0;
      margin: auto;
    }
    .svg-container {
      stroke:rgba(230, 226, 216);
      stroke-width: 5px;
    }
  }
  @media screen and (max-height:450px){
    .logo-container {
      position: relative;
      width: 200px;
      height: auto;
      top: -150px;
      right: 0px;
      box-sizing: border-box;
      margin: auto;
      left: -100px;
    }
  
    .logo-container svg {
      position: absolute;
      top: auto;
      right: auto;
      bottom: auto;
      left: 0;
      margin: auto;
    }
    .svg-container {
      stroke:rgba(230, 226, 216);
      stroke-width: 5px;
    }
  }
    @media screen and (max-width:300px){
      .logo-container {
        display: none;
      }
    }
    
  
